.CardFilter__container {
  width: 100%;
  background-color: var(--light-grayish-cyan-bg);
  display: flex;
  justify-content: center;
}

.CardFilter{
  width: calc(100% - 6rem);
  min-height: 6rem;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: -3rem;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.CardFilter > ul {
  list-style: none;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.CardFilter__clear {
  width: 20%;
  background-color: var(--light-grayish-cyan-filter);
  height: 3rem;
  border: none;
  border-radius: 5px;
  color: var(--dark-grayish-cyan);
  font-size: 1.4rem;
  font-weight: 600;
}

.CardFilter__clear:hover {
  text-decoration: underline;
  cursor: pointer;
}