@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Colors */

:root {
  --dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-bg: hsl(180, 52%, 96%);

  
  --light-grayish-cyan-filter: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

html {
  font-size: 62.5%;
  font-family: 'Spartan', sans-serif;
}